.page-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-list-container {
	width: 80%;
	padding: 20px;

}

.list-container {
	width: 220px;
	margin: 20px;
}

.list-card-body {
	width: 100%;
	text-align: center;
	font-weight: 400;
}

.list-card-item {
	display: flex;
	align-items: center;
	font-size: 13.5px;
}

.closed-list {
	border-left: 5px solid #00b0ff;
}

.opened-list {
	border-left: 5px solid #e91e63;
}

.home-image {
	background-image: url(https://media.istockphoto.com/photos/shopping-list-with-empty-shopping-cart-on-wooden-background-picture-id908021936);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
